<!-- View, add, or delete ESI tokens -->
<div class="container-fluid">

  <div class="row col-wrap">

    <div class="col-md-12">
      <div id="about-panel" class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">ESI Token Requirements</h3>
        </div>
        <div class="panel-body">
          <p>
            As announced in 2016, the EVE Swagger Interface (ESI) is replacing both CREST and the EVE XML API
            endpoints (both of which are now officially deprecated).  The ESI protects private character and
            corporation data with an OAuth based authentication scheme in which tokens are granted to applications
            to access specific endpoints.  As the ESI gradually replaces the older endpoints, EveKit synchronization
            will switch to using the ESI.  This implies that EveKit users will need to provide ESI tokens for
            use with EveKit synchronized accounts.
          </p>
          <p>
            This page lists all current access tokens EveKit is maintaining on your behalf.  If you wish to synchronize
            ESI provided data in an EveKit synchronized account, you must first create an access token on this page,
            then assign the token to the appropriate synchronized account.  Creating a token involves first selecting
            a set of ESI scopes (i.e. allowable endpoints), then authenticating with EVE to create an access token
            which can be used by EveKit.  The same token may be used for multiple synchronized accounts.
          </p>
          <p>
            Once an access token is added, EveKit will use a "refresh" token to periodically renew the access
            token each time it is needed.  If you revoke an access token (which can be done at
            <a href="https://community.eveonline.com/support/third-party-applications/">this CCP hosted site</a>), or
            if CCP resets your access token (which occasionally happens on a new release), then EveKit will no longer
            be able to refresh the token and any associated synchronization actions will fail.  When this occurs,
            you'll need to re-authorize the token using the appropriate action button below.
          </p>
          <p>
            If you delete a token (which can be done using the appropriate action button below), then EveKit will
            no longer refresh the token and any associated synchronization actions will fail.  Although we offer
            an option to delete a token, it is always good hygiene to revoke any tokens you do not want to be
            used by visiting <a href="https://community.eveonline.com/support/third-party-applications/">this
            CCP site</a>.
          </p>
        </div>
      </div>
    </div>

  </div> <!-- row -->

<div class="row col-wrap">
  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <table style="border-collapse: collapse; border: 0px;">
          <tr>
            <td nowrap><h3 class="panel-title">ESI Token List {{loading ? "(Loading ...)" : ""}}</h3></td>
            <td align="right" width="100%">
              <div class="btn-group pull-right">
                <button type="button" class="btn btn-default" ng-click="reloadList()">Refresh</button>
                <button type="button" class="btn btn-default" ng-click="create()">Create New Token</button>
              </div>
            </td>
          </tr>
        </table>
      </div>

      <div class="panel-body">
        <table class="table" style="width: 100%" ng-hide="tokenList.length == 0">
        <tr>
          <th>Token ID</th>
          <th>Status</th>
          <th>Character</th>
          <th>Scope(s)</th>
          <th>Token Expiry</th>
          <th>Actions</th>          
        </tr>
        <tr ng-repeat="token in tokenList">
          <td style="vertical-align: middle">{{token.kid}}</td>
          <td style="vertical-align: middle"><span ng-class="{token_valid: token.valid, token_reauth: !token.valid}">{{token.valid ? 'VALID' : 'NEEDS RE-AUTHORIZATION'}}</span></td>
          <td style="vertical-align: middle">{{token.characterName}}</td>
          <td style="vertical-align: middle" title="{{token.displayScopes}}">HOVER HERE</td>
          <td style="vertical-align: middle">{{token.accessTokenExpiry > 0 ? (token.accessTokenExpiry|date:'yyyy-MM-dd HH:mm:ss':'UTC') : 'N/A'}}</td>
          <td>
            <button type="button" class="btn btn-primary" ng-click="deleteToken(token.kid)">Delete</button>
            <button type="button" class="btn btn-primary" ng-click="reauthToken(token.kid)">Re-Authorize</button>
          </td>
        </tr>
        </table>
        
        <div class="col-md-10 col-md-offset-1" ng-hide="tokenList.length > 0 || loading">
          <div class="alert alert-warning" role="alert">
          No ESI tokens have been created.  Use the "Create New Token" button to create an ESI token.
          </div>
        </div>

      </div>
    </div>
  </div>

</div>
</div>
<!-- Create Token Dialog -->
<div id="createToken" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="tokenModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="tokenModalLabel">Create New Token</h4>
      </div>
      <div class="modal-body">
        <form class="form-horizontal" style="margin-top: 10px; margin-left: 20px;">
          <div class="form-group">
            <label>SELECTED SCOPES</label>
            <button type="button" class="btn btn-info" ng-click="selectAllScopes()" style="margin-left: 10px;">Select All</button>
            <button type="button" class="btn btn-warning" ng-click="clearAllScopes()" style="margin-left: 10px;">Clear All</button>
          </div>
          <div class="form-group" ng-repeat-start="sc in currentScope">
            <div class="checkbox">
              <label><input type="checkbox" ng-model="currentScopeSelection[sc.value]">{{sc.value}}</label>
            </div>
          </div>
          <label ng-repeat-end>{{sc.description}}</label>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal" 
                ng-click="createToken()" ng-disabled="isFormInvald()">SAVE</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
