<div class="container-fluid">

<div class="row col-wrap">
  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <table style="border-collapse: collapse; border: 0px;">
          <tr>
            <td nowrap><h3 class="panel-title">{{isModify ? 'Modify' : 'Create'}} Synchronized Account {{ loading ? "(Loading...)" : "" }}</h3></td>
            <td align="right" width="100%">
              <div class="btn-group pull-right">
                <button type="button" class="btn btn-default" ng-click="save()" ng-hide="!dirty">Save Changes</button>
                <button type="button" class="btn btn-default" ng-click="cancel()">Cancel</button>
              </div>
            </td>
          </tr>
        </table>
      </div>
      <div class="panel-body">
        <form class="form-horizontal" role="form">
          <div class="form-group">
					  <label class="col-sm-1 control-label" for="account-mod-name">
					  Account Name
					  </label>
            <div class="col-sm-3">
              <input id="account-mod-name" type="text" class="form-control" ng-model="modAccountName" placeholder="Enter account name" validateaccountname
                     data-placement="right" data-container="body" data-content="Enter a unique account name made up of characters, numbers or '_'." data-trigger="manual">
            </div>
            <label class="col-sm-1 control-label">Type</label>
            <div class="col-sm-2 radio">
              <label><input name="accountType" type="radio" ng-disabled="isModify" ng-model="modType" value="CHARACTER">CHARACTER</label>&nbsp;&nbsp;
              <label><input name="accountType" type="radio" ng-disabled="isModify" ng-model="modType" value="CORPORATION">CORPORATION</label>
            </div>
            <div class="col-sm-1 checkbox">
              <label><input type="checkbox" ng-model="modAutoSync"><b>AutoSync</b></label>
            </div>
            <div class="col-sm-2">
              <button id="account-selector" type="button" class="btn btn-default" ng-click="fetchCharacters()"
                      data-placement="bottom" data-container="body" data-content="Refresh character list if necessary and select an account to use for synchronization." data-trigger="manual">
              Refresh Character List
              </button>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-1 control-label" for="account-mod-keyid">Key ID</label>
            <div class="col-sm-1">
              <input id="account-mod-keyid" type="text" class="form-control" ng-model="modKeyID" placeholder="Enter Key ID" validatekeyid
                     data-placement="bottom" data-container="body" data-content="Enter a numeric key ID (available <a href='http://community.eveonline.com/support/api-key/'>here</a>)."
                     data-html="true" data-trigger="manual">
            </div>
            <label class="col-sm-1 control-label" for="account-mod-vcode">VCode</label>
            <div class="col-sm-5">
              <input id="account-mod-vcode" type="text" class="form-control" ng-model="modVCode" placeholder="Enter VCode" validatevcode
                     data-placement="bottom" data-container="body" data-content="Enter an alphanumeric VCode (available <a href='http://community.eveonline.com/support/api-key/'>here</a>)."
                     data-html="true" data-trigger="manual">
            </div>
          </div>
        </form>
        
        <div class="row" ng-hide="accountChoices.length == 0">
          <div class="col-md-{{accountChoices.length == 3 ? 1 : (accountChoices.length == 2 ? 3 : 4)}}"></div>
          <div ng-repeat="acct in accountChoices" ng-class="getSelectionClasses($index)">
            <table class="table">
              <tr><td align="center">{{acct.eveCorporationName}}</td><td align="center">{{acct.eveCharacterName}}</td></tr>
              <tr>
              <td align="center"><img width="64px" height="64px" ng-src="https://image.eveonline.com/corporation/{{acct.eveCorporationID}}_128.png"></td>
              <td align="center"><img width="64px" height="64px" ng-src="https://image.eveonline.com/character/{{acct.eveCharacterID}}_128.jpg"></td>
              </tr>
              <tr><td nowrap colspan="2" valign="middle"><button type="button" class="btn btn-default" ng-click="changeSelection($index)">SELECT</button></td></tr>
            </table>
          </div>
        </div>

      </div>
    </div>
  </div>    
</div>

</div>
