<div class="container-fluid">

<div class="row col-wrap">
  <div class="col-md-12">
    <div id="xmlproxy-panel" class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">EVE Online XML Endpoints Proxy</h3>
      </div>
      <div class="panel-body col-extend">
      The EveKit site can be used to proxy connections to the EVE Online XML endpoints.
      Some reasons you might do this are:
      <ul>
      <li> You want to process JSON output (which is what this proxy returns) instead of XML output;
      <li> You lack an XML API library in your language of choice; or,
      <li> You want someone else to worry about staying up to date with changes in the XML endpoints.
      </ul>
      The EveKit proxy is nothing more than a live version of the <a href="https://github.com/OrbitalEnterprises/orbital-eve-xml-api-proxy">Orbital EVE XML API Proxy</a> 
      GitHub project.  The REST calls provided by the proxy are annotated via <a href="http://swagger.io/">Swagger</a> which makes it very easy to generate
      proxy clients in a variety of languages.  The GitHub project page contains instructions for generating proxy clients, or even running your own
      proxy (if you so desire).  The Swagger definition for the live proxy can be found 
      <a href="${enterprises.orbital.evekit.frontend.proxypath}/api/swagger.json">here</a>.
      <p>
      You can experiment with the proxy using the <a href="#/xmlapi/ui">Swagger UI panel</a>.
      </div>
    </div>
  </div>
  
</div>  <!-- row -->

<!-- End of view -->
</div>

